---
layout: page
title: "À propos"
description: ""
header-img: "img/bg-little-universe.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- French Version -->
<div class="fr post-container">
    {% capture about_fr %}{% include about/fr.md %}{% endcapture %}
    {{ about_fr | markdownify }}
</div>
